{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'project/css/styles.css' %}">
    <title>Restaurant Reservation System</title>
</head>
<body>
    <header>
        <a href="{% url 'restaurant_list' %}" class="btn btn-create">View Restaurants</a>
        
        {% if user.is_authenticated %}
            <div class="auth-links">
                <p>Welcome, {{ user.username }}!</p>
                <a href="{% url 'user_reservations' %}" class="btn btn-create">My Reservations</a>
                <a href="{% url 'my-profile' %}" class="btn btn-create">Profile</a>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-create">Logout</button>
                </form>
            </div>
        {% else %}
            <div class="auth-links">
                <a href="{% url 'login' %}" class="btn btn-create">Login</a>
                <a href="{% url 'register' %}" class="btn btn-create">Register</a>
            </div>
        {% endif %}

        <!-- Search Form -->
        <div class="search-form">
            <form method="get" action="">
                <input type="text" name="search_name" value="{{ search_name }}" placeholder="Search by restaurant name" />
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </header>
    
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>
