{% extends 'project/base.html' %}

{% block content %}
<h6>Login</h6>


<section class="login-form-section">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'restaurant_list' %}">
        <button type="submit">Login</button>
    </form>
</section>

<hr>
<p class="registration-create-profile">Don't have an account yet? <a href="{% url 'register' %}">Create your profile here</a>.</p>
{% endblock %}
