{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mini_fb/css/styles.css' %}">
    <title>Mini Facebook</title>
</head>
<body>
    <header>
        <a href="{% url 'create_profile' %}" class="btn btn-create">Create New Profile</a>
        <a href="{% url 'show_all_profiles' %}" class="btn btn-create">Show All Profiles</a>
        {% if user.is_authenticated %}
            <a href="{% url 'show_profile' user.profile.pk %}" class="btn btn-create">My Profile</a>
            <p>Welcome, {{ user.username }}!</p>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-create">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-create">Login</a>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>
