{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="profile">
    <h1>Profile of {{ profile.first_name }} {{ profile.last_name }}</h1>
    <img src="{{ profile.profile_image_url }}" alt="Profile Image" style="width: 300px; height: auto;">
    <p><strong>City:</strong> {{ profile.city }}</p>
    <p><strong>Email:</strong> {{ profile.email }}</p>
    <a href="{% url 'create_status' profile.pk %}" class="btn btn-create">Post a New Status</a>
    <a href="{% url 'update_profile' profile.pk %}" class="btn btn-create">Update Profile</a>
</div>

<div class="status-messages">
    <h2>Status Messages:</h2>
    {% for status in profile.get_status_messages %}
    <div class="message">
        <p>{{ status.timestamp }}: {{ status.message }}</p>
        <a href="{% url 'update_status' status.pk %}" class="btn btn-create">Update</a>
        <a href="{% url 'delete_status' status.pk %}" class="btn btn-create">Delete</a>
        {% for img in status.get_images %}
            <img src="{{ img.image_file.url }}" alt="Status image" style="max-width: 200px; height: auto;">
        {% endfor %}
    </div>
    {% empty %}
        <p>No status messages.</p>
    {% endfor %}
</div>

<div class="friends-list">
    <h2>Friends:</h2>
    <ul>
        {% for friend in profile.get_friends %}
        <li>
            <a href="{% url 'show_profile' friend.pk %}">
                <img src="{{ friend.profile_image_url }}" alt="{{ friend.first_name }} {{ friend.last_name }}" style="width: 50px; height: auto; border-radius: 50%;">
                {{ friend.first_name }} {{ friend.last_name }}
            </a>
        </li>
        {% empty %}
        <li>No friends yet.</li>
        {% endfor %}
    </ul>
</div>
<a href="{% url 'friend_suggestions' pk=profile.pk %}" class="btn btn-primary">View Friend Suggestions</a>
<a href="{% url 'news_feed' pk=profile.pk %}" class="btn btn-info">View News Feed</a>
{% endblock %}
