{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="profile-grid">
    {% for profile in profiles %}
    <div class="profile-card">
        <a href="{% url 'show_profile' profile.pk %}">
            <img src="{{ profile.profile_image_url }}" alt="Profile Image" class="profile-image">
            <div class="profile-info">
                <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                <p>{{ profile.city }}</p>
                <p>{{ profile.email }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
