{% extends 'mini_fb/base.html' %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>City</th>
            <th>Email</th>
            <th>Profile Image</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td>{{ profile.first_name }}</td>
            <td>{{ profile.last_name }}</td>
            <td>{{ profile.city }}</td>
            <td>{{ profile.email }}</td>
            <td><img src="{{ profile.profile_image_url }}" alt="Profile Image"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
