{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="profile">
    <h1>Profile of {{ profile.first_name }} {{ profile.last_name }}</h1>
    <img src="{{ profile.profile_image_url }}" alt="Profile Image" style="width: 300px; height: auto;">
    <p><strong>City:</strong> {{ profile.city }}</p>
    <p><strong>Email:</strong> {{ profile.email }}</p>
    <a href="{% url 'create_status' profile.pk %}">Post a New Status</a>
    <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
</div>

<div class="status-messages">
    <h2>Status Messages:</h2>
    {% for status in profile.get_status_messages %}
    <div class="message">
        <p>{{ status.timestamp }}: {{ status.message }}</p>
        <a href="{% url 'update_status' status.pk %}">Update</a>
        <a href="{% url 'delete_status' status.pk %}">Delete</a>
        {% for img in status.get_images %}
            <img src="{{ img.image_file.url }}" alt="Status image" style="max-width: 200px; height: auto;">
        {% endfor %}
    </div>
    {% empty %}
        <p>No status messages.</p>
    {% endfor %}
</div>
{% endblock %}
